.top-container {

    display: flex;
    flex-direction: column;
    font-family: Oxygen, sans-serif;
    align-items: center;
    background-color: #445a71;
    height: 100%;
    width: 100%;
    .title {
        color: #fff;
        font-size: 15px;
        margin-top: 10px;
        
    }
}

.weather-container {
    color: white;
    margin-top: 1.2em;
    .header {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .inner-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 10px 0;
        .current-weather{
            height: fit-content;
            font-size: 25px;
        }
        .image {
            width: 3em;
            height: 3em;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 13px;
    }
}

.btn-select-location{
    background-color: #49DCC2;
    font-size: 10px;
    font-family: Roboto, sans-serif;
    border-radius: 2px;
    color: #222;
}